.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.QRcam{
	margin: 0 auto;
	display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-image{
  height: 300px;
  max-width:100%;
}

.container{
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: space-between;
}

.card{
  height: 100%;
}

/* Medium screens */

@media all and (max-width: 800px) {
  .container{
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    max-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: space-between;
  }

  .card-image{
    height: 250px;
    max-width:100%;
  }
}

/* Small screens */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { 
  .container {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: space-between;
    }

  .card-image{
    height: 200px;
    max-width:100%;
  }
}

.btn {
  width: 100%;
  display: block;
  white-space: normal;
  word-wrap: break-word;
  font-size: 1.2vw;
}

.bgyellow{
  background-color: yellow;
  outline: 8px solid yellow; 
}
